.navbar{
    flex-wrap: wrap;
    
}


.msg-bar{
    flex-direction: column;
}
.shop section {
    flex-wrap: wrap;
    flex-direction: column;
}
.h2{
    flex-direction: column;
}
.img1 {
    flex-direction: column;
}

.box-img{
    flex-wrap: wrap;
    flex-direction: column;
}
.box1 img{
    flex-direction: column;
    flex-wrap: wrap;
    width: 80px;
}
.box2 img{
    width: 80px;
}
.boximg img{
    flex-wrap: wrap;
    width: 80px;
    padding: 2px 6px;
}
.img1{
    padding: 10px 1px 10px 15px;
}
.footer2{
    flex-direction: column;
}
